<section>

  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/maceio.jpeg" class="d-block w-100" alt="Clima de praia Maceió">
      </div>
      <div class="carousel-item">
        <img src="assets/images/rio.jpg" class="d-block w-100" alt="Clima de praia Rio de Janeiro">
      </div>
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container-input">
    <div class="container">
      <input class="form-control form-control-lg" type="text" name="city" value="Conceição dos Ouros - MG" placeholder="Encontre sua cidade">
    </div>
  </div>

</section>