<section>

  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <picture>
          <source media="(min-width:801px)" srcset="assets/images/maceio.jpeg">
          <source media="(min-width:100px)" srcset="assets/images/maceio-mobile.jpeg">
          <img src="assets/images/maceio.jpeg" class="d-block w-100" alt="Clima de praia Maceió">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source media="(min-width:801px)" srcset="assets/images/rio.jpg">
          <source media="(min-width:100px)" srcset="assets/images/rio-de-janeiro-mobile.jpg">
          <img src="assets/images/rio.jpg" class="d-block w-100" alt="Clima de praia Rio de Janeiro">
        </picture>
      </div>
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container-input">
    <div class="container">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <input class="form-control form-control-lg" type="text" name="city" placeholder="Encontre sua cidade: São Paulo, SP" ngModel required #city="ngModel">
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <p class="lead">{{weather?.city}}</p>
          <p class="secundary">Atualizado em: {{weather?.date}} {{weather?.time}}</p>
          <div class="row">
            <div class="col-6 text-center">
              <img src="https://assets.hgbrasil.com/weather/images/{{weather?.img_id}}.png" class="img-icon">
            </div>
            <div class="col-6">
              <h1 class="display-3">{{weather?.temp}}&#176;</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center info">
              <div>Umidade</div>
              <div>{{weather?.humidity}}%</div>
            </div>
            <div class="col-6 text-center info">
              <div>Vento</div>
              <div>{{weather?.wind_speedy}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 mb-3" *ngFor="let wt of weather?.forecast">
            <div class="card">
              <div class="card-body">
                <p class="p-date">{{wt?.date}} - {{wt?.weekday}}</p>
                <p class="lead">{{wt?.description}}</p>
                <p class="display-5">Max: {{wt?.max}}&#176; - Min: {{wt?.min}}&#176;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3" *ngFor="let wt of weather?.forecast">
        <div class="card">
          <div class="card-body">
            <p class="secundary">{{wt?.date}} - {{wt?.weekday}}</p>
            <p class="lead">{{wt?.description}}</p>
            <p class="card-text">{{wt?.max}} {{wt?.min}}</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>